<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daesung.shorturl.feature.url.UrlDAO">
	
	<insert id="createUrlKey" parameterType="com.daesung.shorturl.feature.url.UrlDTO" useGeneratedKeys="true" keyProperty="urlSequence">
		/*createUrlKey*/
		INSERT INTO url
		(
			origin_url
		)VALUES(
			#{originUrl}
		)		
	</insert>

	<update id="setUrlKey" parameterType="com.daesung.shorturl.feature.url.UrlDTO">
		/*setUrlKey*/
		UPDATE url
		SET
			url_key = #{urlKey}
		WHERE url_sequence = #{urlSequence}
	</update>
	
	<update id="setUrlCount" parameterType="com.daesung.shorturl.feature.url.UrlDTO">
		/*setUrlCount*/
		UPDATE url
		SET
			request_count = #{requestCount}
		WHERE url_key = #{urlKey}
	</update>

	<select id="getUrlInfo" parameterType="com.daesung.shorturl.feature.url.UrlDTO" resultType="com.daesung.shorturl.feature.url.UrlDTO">
		/*getUrlInfo*/
		SELECT 
			url_sequence,
			origin_url,
			url_key,
			request_count,
			regist_date
		FROM url
		WHERE 1 = 1
		<if test="originUrl != null and originUrl != ''">
			AND origin_url = #{originUrl}
		</if>
		<if test="urlKey != null and urlKey != ''">
			AND url_key = #{urlKey}
		</if>
	</select>

</mapper>